<!DOCTYPE html>
<html>
    <head>
        <title>Person Service</title>
        <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.min.css" rel="stylesheet">
        <link href="css/app.css" rel="stylesheet">
    </head>
    <body>
        <script data-model="rest" id="Person">
            var Person = function(collection) {
                this.id = null;
                this.firstName = '';
                this.lastName = '';
                this.twitter = '';
                this.github = '';

                this.clear = function() {
                    this.id = null;
                    this.firstName = this.lastName = this.twitter = this.github = "";
                };

                this.save = function() {
                    this.$put();
                    avatar.navigateTo('#list');
                };

                this.$onPutDone = function() {
                    avatar.navigateTo('#list');
                };

                this.$onDeleteDone = function() {
                    avatar.navigateTo('#list');
                };

            }
        </script>
        <script data-model="rest" id="People">
            var People = function() {
                this.delete = function(p) {
                    for (var i=0;i<this.people.length;i++) {
                        var person = this.people[i];
                        console.log(person.$get());
                    }
                };
            }
        </script>

        <script data-type="People" data-instance="people"
                data-url="api/person"></script>

        <script data-type="Person" data-instance="person" data-url="api/person/#{this.id}"
                data-props="dependsOn:'people', progressIndicator:'true'"></script>

        <script data-controller="uiController" data-instance="vc">
            var ViewController = function() {
                this.onShow = function(node, instance) {
                    if (node.id == 'list') {
                        people.$get();
                    }
                }
            };
        </script>

        <div data-widget="view" id="list" data-main="true" class="page" data-controller="vc">
            <h2>People List</h2>
            <div>
                <button onclick="#{avatar.navigateTo('#new')}">
                    <i class="glyphicon glyphicon-plus"></i>
                    New
                </button>
            </div>
            <ul>
                <li class="thead">Name</li>
                <li class="thead"><i class="fa fa-twitter"></i></li>
                <li class="thead"><i class="fa fa-github"></i></li>
                <li class="thead">Actions</li>
                <div data-widget="collection" data-props="items: #{people.people}, bindModel: 'person'">
                    <div data-widget="collectionItem" class="row">
                        <script data-type="Person" data-instance="p1" data-url="api/person/#{person.id}"></script>
                        <li>#{person.lastName}, #{person.firstName}</li>
                        <li>#{person.twitter}</li>
                        <li>#{person.github}</li>
                        <li>
                            <form>
                                <button onclick="#{p1.$delete()}"><i class="fa fa-trash-o"></i></button>
                            </form>
                        </li>
                    </div>
                </div>
            </ul>
        </div>

        <div data-widget="view" id="new" class="page" data-controller="vc">
            <h2>New Person</h2>
            <div>
                <button onclick="#{avatar.navigateTo('#list')}">
                    <i class="fa fa-arrow-left"></i>
                    Back
                </button>
                <hr/>
            </div>
            <form>
                <label for="firstName">First Name: </label>
                <input type="text" id="firstName" data-value="#{person.firstName}">
                <br/>
                <label for="lastName">Last Name: </label>
                <input type="text" id="lastName"  data-value="#{person.lastName}">
                <br/>
                <label for="twitter">Twitter: </label>
                <input type="text" id="twitter"  data-value="#{person.twitter}">
                <br/>
                <label for="github">GitHub: </label>
                <input type="text" id="github"  data-value="#{person.github}">
                <br/>
                <div class="gutter">
                    <button onclick="#{person.save()}"><i class="fa fa-save"></i>Save!</button>
                </div>
            </form>
        </div>
    </body>
</html>


